# -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #
# FILES
# -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #
*.log
# -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #
# FOLDERS
# -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- #
dist/
node_modules/
test-results/
playwright-report/
